.vscode
__pycache__
worker-*
*lock
*npz
*.bp
*.o
*.a
*.so
*.s
*.log
outfile*.txt
*.png
*.pdf
delta/analysis/kernels_spectral_cy.c
core
test_data/
**/.ipynb_checkpoints/
**/build/
delta/KSTAR_18431_ECEI_L0101-2408/
mongo_secret
postgre_secret
tests_performance/*
tmp_nersc
